aside {
    background: $sidebar-back;
    height: 100%;
    display: flex;
    flex-direction: column;

    .brand-logo {
        // background: $sidebar-header;
        width: 16.5vw;
        height: 16.5vw;

        a {
            display: flex;
        }

        h1.title {
            // display: none;
            @include font-header;
            font-size: 7.3vw;
            margin-top: 2.7%;
            margin-left: .1%;
            line-height: 0;
            font-weight: 400;
            position: absolute;
            z-index: 3;
            color: #E5E9E9;
            opacity: .4;

            span {
                display: block;
                margin: 25% 0 0 7px;
                letter-spacing: -2px;
                font-size: 5.8vw;
            }
        }

        #city {
            position: relative;

            width: 16.5vw;
            height: 16.5vw;
            z-index: 1;

            background-image: url("/img/logo/header.svg");
            background-repeat: repeat-x;
            background-position: 47% 100%;
            background-size: auto 100%;
        }

        #fog {
            // THANKS: https://www.deviantart.com/ztphotography/art/NicePng-transparent-fog-png-8047958-837159072
            position: absolute;
            width: 16.5vw;
            height: 16.5vw;
            z-index: 2;
            opacity: .6;

            background-image: url("/img/logo/fog.png");
            background-repeat: no-repeat;
            background-position: 47% 100%;
            background-size: 150% 50%;
        }


        img {
            display: none;
            width: 16.5vw;
            height: 16.5vw;
            position: absolute;
            z-index: 0;
        }
    }

    .section {
        padding: 0;
        color: $sidebar-text;

        .section-header {
            background: $sidebar-header;
            padding: 1em;
            text-transform: uppercase;

            h2.subtitle {
                @include font-header;
                color: $sidebar-text;
            }
        }
        .section-body {
            padding: 1em 1em 2em;
        }

        &.festival {
            .section-body {
                padding: 0;
            }

            ul {
                padding: .5em 0 1em 0;
                a {
                    color: $text;

                    &:hover li {
                        background: $sidebar-header;
                    }
                }
                li {
                    display: flex;
                    width: 100%;
                    padding: .5em 1em;

                    .variable {
                        order: 1;
                        // padding-right: 0.1em;
                    }
                    .variable-number {
                        order: 3;
                        margin-left: auto;
                        // padding-left: 0.1em;
                        color: $link;
                        width: 60px;
                        text-align: right;

                        &::after {
                            font-family: 'remixicon' !important;
                            content: "\f08f";
                            position: relative;
                            top: 3px;
                            color: #fff;
                            padding-left: 10px;
                        }
                    }
        
                    &::after {
                        content: "";
                        flex-grow: 1;
                        order: 2;
                        background-image: radial-gradient(circle, rgba($text, .2) 1px, transparent 1px);
                        background-position-y: calc(100% - 5px);
                        background-size: 1ex 3px;
                        background-repeat: repeat-x;
                        height: auto;
                    }
                }
            }
        }
    }

    footer {
        padding: 1em 1em 2em;
        font-size: 80%;
        color: $small;
        align-self: flex-end;
        margin-top: auto;
        width: 100%;

        p, p:not(:first-of-type) {
            padding: 0;
            margin: 0;
        }

        a {
            color: $sidebar-text;
            text-decoration: underline;
    
            &:hover {
                color: $text;
            }
        }

        .navi ul {
            margin-top: 1em; 

            li {
                width: auto;
                display: inline-block;
                border-left: 1px solid $sidebar-text;
    
                a {
                    padding: .7em;
                }
                span.is-active {
                    color: $text;
                    padding: .7em;
                }

                &:first-of-type {
                    border: none;
    
                    a {
                        padding: .7em .7em .7em 0;
                    }
                }
            }
        }
    }
}