aside {
    background: $sidebar-back;
    height: 100%;

    .brand-logo {
        height: auto;
        
        a {
            display: flex;
        }
        h1.title {
            position: absolute;
        }
    }

    .section {
        padding: 0;
        color: $sidebar-text;

        .section-header {
            background: $sidebar-header;
            padding: 1em;
        }
        .section-body {
            padding: 1em 1em 2em;
        }

        &.festival {
            .section-body {
                padding: 0;
            }

            ul {
                padding: .5em 0 1em 0;
                a {
                    color: $text;

                    &:hover li {
                        background: $sidebar-header;
                    }
                }
                li {
                    display: flex;
                    width: 100%;
                    padding: .5em 1em;

                    .variable {
                        order: 1;
                        // padding-right: 0.1em;
                    }
                    .variable-number {
                        order: 3;
                        margin-left: auto;
                        // padding-left: 0.1em;
                        color: $link;
                        width: 60px;
                        text-align: right;

                        &::after {
                            font-family: 'remixicon' !important;
                            content: "\f08f";
                            position: relative;
                            top: 3px;
                            color: #fff;
                            padding-left: 10px;
                        }
                    }
        
                    &::after {
                        content: "";
                        flex-grow: 1;
                        order: 2;
                        background-image: radial-gradient(circle, rgba($text, .2) 1px, transparent 1px);
                        background-position-y: calc(100% - 5px);
                        background-size: 1ex 3px;
                        background-repeat: repeat-x;
                        height: auto;
                    }
                }
            }
        }
    }
}