input#menu,
label.menu {
    display: none;
}

@include touch {

    h1.title.mobile {
        @include font-header;
        font-size: 40px;
        margin: 0;
        padding: 0 0 0 1.5em;
        background: $sidebar-back;
        font-weight: 400;
        color: #E5E9E9;
        letter-spacing: 0;
        text-shadow: 2px 2px 7px rgba(#000000, .7), 
                    -2px -2px 7px rgba(#000000, .7);
        -webkit-transition: margin 0.5s ease-out;
        transition: margin 0.5s ease-out;
    }

    input#menu:not(:checked) ~ main h1.title.mobile {
        margin-top: -50px;
    }
    
    input#menu {
        visibility: hidden;
        position: absolute;
        display: block;
    }

    label.menu {
        position: absolute;
        display: block;
        z-index: 999;
        font-size: 20px;
        width: 30px;
        height: 30px;
        text-align: center;
        background: $sidebar-header;
        border-radius: 20px;
        @include box-shadow(false, 3px, 3px, 5px, rgba($sidebar-text, .3), rgba($sidebar-text, .05));
        -webkit-transition: left 0.5s ease-out;
        transition: left 0.5s ease-out;
    }

    input#menu:checked ~ label.menu {
        top: 5px;
        left: 10px;

        &::before {
            content: "\ef3f";
            font-family: "remixicon";
        }
    }
    input#menu:not(:checked) ~ label.menu {
        top: 5px;
        left: 180px;

        &::before {
            content: "\ef3c";
            font-family: "remixicon";
        }
    }

    input#menu:checked ~ aside.column.is-2 {
        transform: translate(-100%, 0);
    }
}


aside.column.is-2 {
    background: $sidebar-back;
    // display: flex;
    // flex-direction: column;
    overflow: hidden;
                
    @include touch {
        position: fixed;
        z-index: 88;
        overflow-y: auto;
        height: 100%;
        width: 220px;
        -webkit-transition: transform 0.5s ease-out;
        transition: transform 0.5s ease-out;
        left: 0;
        bottom: 0;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-basis: 0%;
        overflow: hidden;

        .brand-logo {
            // background: $sidebar-header;
            // width: 100%;
            height: 16.5vw;
        
            @include touch {
                height: 236px;
            }

            a {
                display: flex;
            }

            h1.title {
                @include font-header;
                font-size: 7.3vw;
                margin-top: 2.7%;
                margin-left: .1%;
                line-height: 0;
                font-weight: 400;
                position: absolute;
                z-index: 4;
                color: #E5E9E9;
                letter-spacing: 0;
                text-shadow: 2px 2px 7px rgba(#000000, .7), 
                            -2px -2px 7px rgba(#000000, .7);

                @include touch {
                    font-size: 95px;
                    margin-top: 35px;
                }

                span {
                    display: block;
                    margin: 25% 0 0 7px;
                    letter-spacing: -2px;
                    font-size: 5.8vw;

                    @include touch {
                        font-size: 77px;
                    }
                }
            }

            #city {
                position: relative;

                width: 17vw;
                height: 16.5vw;
                z-index: 2;

                background-image: url("/img/logo/header.svg");
                background-repeat: repeat-x;
                background-position: 47% 100%;
                background-size: auto 100%;
        
                @include touch {
                    width: 239px;
                    height: 236px;
                }
            }
            
            // THANKS: https://www.deviantart.com/ztphotography/art/NicePng-transparent-fog-png-8047958-837159072
            #fog {
                position: absolute;
                width: 16.6vw;
                height: 16.5vw;
                z-index: 3;
                opacity: .4;

                background-image: url("/img/logo/fog.webp");
                background-repeat: no-repeat;
                background-position: 47% 100%;
                background-size: 150% 50%;
        
                @include touch {
                    width: 239px;
                    height: 236px;
                }
            }

            .sun {
                position: absolute;
                margin-top: 8%;
                margin-left: 5%;
                #sun {
                    fill: #e0d8a6;
                }
        
                @include touch {
                    margin-top: 55%;
                    margin-left: 30%;
                }
            }

            .moon {
                position: absolute;
                margin-top: 9%;
                margin-left: 6.2%;
        
                @include touch {
                    margin-top: 62%;
                    margin-left: 38%;
                }
            }

            &.sky {
                background: radial-gradient(circle, rgba(#031122, 1) 0%, rgba(#062629, 1) 75%, rgba(#0c3733, 1) 100%);
                .moon {
                    display: none;
                }
            
                &.night {
                    background: radial-gradient(circle, rgba(#031122, 1) 0%, rgba(#062629, 1) 75%, rgba(#0c3733, 1) 100%);
                    .sun {
                        display: none;
                    }
                    .moon {
                        display: block;
                    }
                }
                &.dawn {
                    // day start
                    background: radial-gradient(ellipse at bottom, rgba(#b98b45, 1) 0%, rgba(#b3849f, 1) 75%, rgba(#3d5096, 1) 100%);
                    #sun {
                        fill: #e7c27c;
                    }
                    .moon {
                        display: none;
                    }
                }
                &.day {
                    background: radial-gradient(circle, rgba(#85e1e4, 1) 0%, rgba(#4cc5c9, 1) 50%, rgba($text, 1) 100%);
                    #sun {
                        fill: $text;
                    }
                    .moon {
                        display: none;
                    }
                }
                &.dusk {
                    // day evening
                    background: radial-gradient(ellipse at bottom, rgba(#ef8d5c, 1) 0%, rgba(#2c449d, 1) 80%, rgba(#0c1a37, 1) 100%);
                    #sun {
                        fill: #e0d8a6;
                    }
                    .moon {
                        display: none;
                    }
                }
            }

            // THANKS: https://codepen.io/uchardon/pen/bxbqoG
            .wave-wrapper {
                position: absolute;
                width: 4vw;
                height: auto;

                top: 0;
                margin-top: 15.2%;
                margin-left: -1.7%;
                // opacity: .7;
        
                @include touch {
                    width: 50px;
                    margin-top: 215px;
                    margin-left: -1.7%;
                }

                .wave {
                    fill: #4478e3;
                }
                #wave2 {
                    opacity: 1;
                }
                #wave3 {
                    opacity: .5;
                    margin-top: -10px;
                    margin-left: 15px;
                }
            }

            #sky-stars-wrapper {
                width: 17vw;
                height: 14vw;
                position: absolute;
                overflow: hidden;
                z-index: 1;
        
                @include touch {
                    width: 220px;
                    height: 150px;
                }
            
                // n is number of stars required
                @function multiple-box-shadow ($n) {
                    $value: '#{random(2000)}px #{random(270)}px #FFF';
                        @for $i from 2 through $n {
                            $value: '#{$value} , #{random(2000)}px #{random(270)}px #FFF'
                        }
                    @return unquote($value);
                }
                $shadows-small: multiple-box-shadow(100);
                $shadows-medium: multiple-box-shadow(80);
                $shadows-big: multiple-box-shadow(30);
            
                #sky-stars-1,
                #sky-stars-2,
                #sky-stars-3 {
                    background: transparent;
                    opacity: .4;
                }
            
                #sky-stars-1 {
                    width: 1px;
                    height: 1px;
                    box-shadow: $shadows-small;
                }
                
                #sky-stars-2 {
                    width: 2px;
                    height: 2px;
                    box-shadow: $shadows-medium;
                }
                
                #sky-stars-3 {
                    width: 3px;
                    height: 3px;
                    box-shadow: $shadows-big;
                }
            }

            // THANKS: https://codepen.io/nicooprat/pen/ALANqj
            #hotairballoon {
                // width: 35px;
                position: absolute;
                margin-top: 9%;
                margin-left: 7%;
                background: url("/img/logo/hotairballoon.svg") no-repeat;
                width: 40px;
                height: 40px;
                transform: rotate(10deg);
        
                @include touch {
                    margin-top: 58%;
                    margin-left: 45%;
                }
            }

            // THANKS: https://codepen.io/bennettfeely/pen/mEjio
            #santahat {
                display: none;
                position: absolute;
                z-index: 55;
                margin-top: 4.75%;
                margin-left: 4.6%;
        
                @include touch {
                    margin-top: 27%;
                    margin-left: 28%;
                }
            
                .front, .back {
                    position: absolute;
                    width: 4.7vw;
                    height: 3.6vw;
                    transform: rotate(-15deg);
        
                    @include touch {
                        width: 56px;
                        height: 46px;
                    }
                }
            
                .front { 
                    z-index: 9; 
                }
                .back {
                    z-index: 1;
                    animation: counter-wiggle 4s ease-in-out;
                    -webkit-animation: counter-wiggle 4s ease-in-out;
                    transform-origin: 1.5rem 2rem;
                }
                .santa-hat-piece {
                    fill: firebrick;
                }
                
                @keyframes counter-wiggle {
                    33%{ transform: rotate(-20deg); }
                    66%{ transform: rotate(10deg); }
                }
            }
            
            // THANKS: https://codepen.io/uchardon/pen/eGjJap?editors=0100
            #ghosty {
                position: absolute;
                margin-top: 4.5%;
                margin-left: -3.1%;
                width: 17vw;
                height: 16.5vw;
                z-index: 3;
                display: none;
        
                @include touch {
                    margin-top: 33%;
                    margin-left: -5%;
                }
            
                svg#ghost {
                    -webkit-filter: url("#disfilter");
                    filter: url("#disfilter") blur(1px);
                    animation: ghost 4s forwards 1;
                    animation-iteration-count: 1;
                    animation-delay: .5s;
                    opacity: 0;
                }
                @keyframes ghost {
                    0% { opacity: 0; }
                    50% { opacity: 1; }
                    100% { opacity: 0; }
                }
            }
            
            #firework {
                width: 17vw;
                height: 16.5vw;
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 0%;
                z-index: 1;
        
                @include touch {
                    width: 240px;
                    height: 220px;
                }
            }
        }

        .section {
            padding: 0;
            color: $sidebar-text;

            .section-header {
                background: $sidebar-header;
                padding: 1em;
                text-transform: uppercase;

                h2.subtitle {
                    @include font-header;
                    color: $sidebar-text;
                }
            }
            .section-body {
                padding: 1em 1em 2em;
            }

            &.festival {
                .section-body {
                    padding: 0;
                }

                ul {
                    padding: .5em 0 1em 0;
                    li {
                        padding: .5em 1em;
                        
                        a {
                            display: flex;
                            width: 100%;
                            color: $text;
        
                            &:hover li {
                                background: $sidebar-header;
                            }

                            .variable {
                                order: 1;
                                // padding-right: 0.1em;
                                margin-left: auto;
                                flex-grow: 1;
                            }
                            .variable-number {
                                order: 3;
                                margin-left: auto;
                                // padding-left: 0.1em;
                                color: $link;
                                width: 60px;
                                text-align: right;
        
                                &::after {
                                    font-family: 'remixicon' !important;
                                    content: "\f08f";
                                    position: relative;
                                    top: 3px;
                                    color: $text;
                                    padding-left: 10px;
                                }
                            }
                
                            &::after {
                                content: "";
                                flex-grow: 1;
                                order: 2;
                                background-image: radial-gradient(circle, rgba($text, .2) 1px, transparent 1px);
                                background-position-y: calc(100% - 5px);
                                background-size: 1ex 3px;
                                background-repeat: repeat-x;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }

        footer {
            padding: 1em 1em 2em;
            font-size: 80%;
            color: $small;
            margin-top: auto;

            p, p:not(:first-of-type) {
                padding: 0;
                margin: 0;
            }

            a {
                color: $sidebar-text;
                text-decoration: underline;
        
                &:hover {
                    color: $text;
                }
            }

            .navi ul {
                margin-top: 1em; 

                li {
                    width: auto;
                    display: inline-block;
                    border-left: 1px solid $sidebar-text;
        
                    a {
                        padding: .7em;
                    }
                    span.is-active {
                        color: $text;
                        padding: .7em;
                    }

                    &:first-of-type {
                        border: none;
        
                        a {
                            padding: .7em .7em .7em 0;
                        }
                    }
                }
            }
        }
    }
}