aside {
    background: $sidebar-back;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 16.5vw;

    .brand-logo {
        // background: $sidebar-header;
        width: 16.5vw;
        height: 16.5vw;

        a {
            display: flex;
        }

        h1.title {
            // display: none;
            @include font-header;
            font-size: 7.3vw;
            margin-top: 2.7%;
            margin-left: .1%;
            line-height: 0;
            font-weight: 400;
            position: absolute;
            z-index: 4;
            color: #E5E9E9;
            text-shadow: 2px 2px 7px rgba(#000000, .7), 
                        -2px -2px 7px rgba(#000000, .7);

            span {
                display: block;
                margin: 25% 0 0 7px;
                letter-spacing: -2px;
                font-size: 5.8vw;
            }
        }

        #city {
            position: relative;

            width: 16.5vw;
            height: 16.5vw;
            z-index: 2;

            background-image: url("/img/logo/header.svg");
            background-repeat: repeat-x;
            background-position: 47% 100%;
            background-size: auto 100%;
        }
        
        // THANKS: https://www.deviantart.com/ztphotography/art/NicePng-transparent-fog-png-8047958-837159072
        #fog {
            position: absolute;
            width: 16.5vw;
            height: 16.5vw;;
            z-index: 3;
            opacity: .4;

            background-image: url("/img/logo/fog.png");
            background-repeat: no-repeat;
            background-position: 47% 100%;
            background-size: 150% 50%;
        }

        &.sky {
            background: radial-gradient(circle, rgba(#32bafa, 1) 0%, rgba(#49d8dd, 1) 50%, rgba($text, 1) 100%);
        
            &.night {
                background: radial-gradient(circle, rgba(#000000, 1) 0%, rgba(#010010, 1) 5%, rgba(#0c1a37, 1) 100%);
            }
            &.dawn {
                // day start
                background: radial-gradient(ellipse at bottom, rgba(#0c1a37, 1) 0%, rgba(#2c449d, 1) 50%, rgba(#ce98af, 1) 100%);
            }
            &.day {
                background: radial-gradient(circle, rgba(#32bafa, 1) 0%, rgba(#49d8dd, 1) 50%, rgba($text, 1) 100%);
            }
            &.dusk {
                // day evening
                background: radial-gradient(ellipse at bottom, rgba(#0c1a37, 1) 0%, rgba(#2c449d, 1) 50%, rgba(#ef8d5c, 1) 100%);
            }
        }

        // THANKS: https://codepen.io/uchardon/pen/bxbqoG
        .wave-wrapper {
            position: absolute;
            width: 4vw;
            height: auto;

            top: 0;
            margin-top: 15.4%;
            margin-left: -1.7%;
            // opacity: .7;

            .wave {
                fill: #4478e3;
            }
            #wave2 {
                opacity: 1;
            }
            #wave3 {
                opacity: .5;
                margin-top: -10px;
                margin-left: 15px;
            }
        }

        #sky-stars-wrapper {
            width: 16.5vw;
            height: 16.5vw;
            position: absolute;
            overflow: hidden;
            z-index: 1;
          
            // n is number of stars required
            @function multiple-box-shadow ($n) {
                $value: '#{random(2000)}px #{random(270)}px #FFF';
                    @for $i from 2 through $n {
                        $value: '#{$value} , #{random(2000)}px #{random(270)}px #FFF'
                    }
                @return unquote($value);
            }
            $shadows-small: multiple-box-shadow(100);
            $shadows-medium: multiple-box-shadow(80);
            $shadows-big: multiple-box-shadow(30);
          
            #sky-stars-1,
            #sky-stars-2,
            #sky-stars-3 {
                background: transparent;
                opacity: .4;
            }
          
            #sky-stars-1 {
                width: 1px;
                height: 1px;
                box-shadow: $shadows-small;
            }
            
            #sky-stars-2 {
                width: 2px;
                height: 2px;
                box-shadow: $shadows-medium;
            }
            
            #sky-stars-3 {
                width: 3px;
                height: 3px;
                box-shadow: $shadows-big;
            }
        }

        // THANKS: https://codepen.io/nicooprat/pen/ALANqj
        #hotairballoon {
            // width: 35px;
            position: absolute;
            margin-top: 9%;
            margin-left: 7%;
            background: url("/img/logo/hotairballoon.svg") no-repeat;
            width: 40px;
            height: 40px;
            transform: rotate(10deg)
        }

        // THANKS: https://codepen.io/bennettfeely/pen/mEjio
        #santahat {
            display: none;
            position: absolute;
            z-index: 55;
            margin-top: 4.75%;
            margin-left: 4.6%;
          
            .front, .back {
                position: absolute;
                width: 4.7vw;
                height: 3.6vw;
                transform: rotate(-15deg);
            }
          
            .front { 
                z-index: 9; 
            }
            .back {
                z-index: 1;
                animation: counter-wiggle 4s ease-in-out;
                -webkit-animation: counter-wiggle 4s ease-in-out;
                transform-origin: 1.5rem 2rem;
            }
            .santa-hat-piece {
                fill: firebrick;
            }
            
            @keyframes counter-wiggle {
                33%{ transform: rotate(-20deg); }
                66%{ transform: rotate(10deg); }
            }
        }
        
        // THANKS: https://codepen.io/uchardon/pen/eGjJap?editors=0100
        #ghosty {
            position: absolute;
            margin-top: 4.5%;
            margin-left: -3.1%;
            width: 16.5vw;
            height: 16.5vw;
            z-index: 3;
            display: none;
        
            svg#ghost {
                -webkit-filter: url("#disfilter");
                filter: url("#disfilter") blur(1px);
                animation: ghost 4s forwards 1;
                animation-iteration-count: 1;
                animation-delay: .5s;
                opacity: 0;
            }
            @keyframes ghost {
                0% { opacity: 0; }
                50% { opacity: 1; }
                100% { opacity: 0; }
            }
        }
        
        #firework {
            width: 16.5vw;
            height: 16.5vw;
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 0%;
            z-index: 1;
        }
    }

    .section {
        padding: 0;
        color: $sidebar-text;

        .section-header {
            background: $sidebar-header;
            padding: 1em;
            text-transform: uppercase;

            h2.subtitle {
                @include font-header;
                color: $sidebar-text;
            }
        }
        .section-body {
            padding: 1em 1em 2em;
        }

        &.festival {
            .section-body {
                padding: 0;
            }

            ul {
                padding: .5em 0 1em 0;
                a {
                    color: $text;

                    &:hover li {
                        background: $sidebar-header;
                    }
                }
                li {
                    display: flex;
                    width: 100%;
                    padding: .5em 1em;

                    .variable {
                        order: 1;
                        // padding-right: 0.1em;
                    }
                    .variable-number {
                        order: 3;
                        margin-left: auto;
                        // padding-left: 0.1em;
                        color: $link;
                        width: 60px;
                        text-align: right;

                        &::after {
                            font-family: 'remixicon' !important;
                            content: "\f08f";
                            position: relative;
                            top: 3px;
                            color: #fff;
                            padding-left: 10px;
                        }
                    }
        
                    &::after {
                        content: "";
                        flex-grow: 1;
                        order: 2;
                        background-image: radial-gradient(circle, rgba($text, .2) 1px, transparent 1px);
                        background-position-y: calc(100% - 5px);
                        background-size: 1ex 3px;
                        background-repeat: repeat-x;
                        height: auto;
                    }
                }
            }
        }
    }

    footer {
        padding: 1em 1em 2em;
        font-size: 80%;
        color: $small;
        align-self: flex-end;
        margin-top: auto;
        width: 100%;

        p, p:not(:first-of-type) {
            padding: 0;
            margin: 0;
        }

        a {
            color: $sidebar-text;
            text-decoration: underline;
    
            &:hover {
                color: $text;
            }
        }

        .navi ul {
            margin-top: 1em; 

            li {
                width: auto;
                display: inline-block;
                border-left: 1px solid $sidebar-text;
    
                a {
                    padding: .7em;
                }
                span.is-active {
                    color: $text;
                    padding: .7em;
                }

                &:first-of-type {
                    border: none;
    
                    a {
                        padding: .7em .7em .7em 0;
                    }
                }
            }
        }
    }
}