// NAVIGATION

.navbar-start {
    width: 100%;
    display: flex;
    flex-direction: row;

    .navbar-item {
        flex-grow: 1;
        @include font-header;
        background: $back;

        span {
            width: 100%;
            text-align: center;
        }

        svg.remix {
            fill: $text;
            @include translate(-5px, 6px);
        }

        &.is-active {
            color: $sidebar-header;

            svg.remix {
                fill: $sidebar-header;
                @include translate(-5px, 6px);
            }
        }

        &:hover {
            background: $sidebar-header;
            color: $text;

            svg.remix {
                fill: #ffffff;
            }
        }
    }
}

.navbar-end {
    background: $back;
}
