#calendar-filter {
    position: absolute;
    margin-top: 8em;

    input {
        float: left;
        display: none;

        &:not(:checked) + label {
            background: rgba(#000000, .3);
            color: darken(#607d8b, 30%);

            &::before {
                content: "\eb98";
            }

            &:hover {
                color: $text;

                &::before {
                    content: "\eb7a";
                }
            }
        }
    }
    label {
        float: right;
        background: black;
        padding: 0 20px 0 60px;
        margin: 0 1em 0 0;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        color: $text;
        font-weight: 600;
        transition: all linear .1s;

        &::before {
            font-family: 'remixicon' !important;
            content: "\eb7a";
            position: absolute;
            font-size: 20px;
            font-weight: 900;
            margin-left: -60px;
            line-height: 40px;
            text-align: center;
            height: 40px;
            width: 40px;
            background: rgba(#000000, .2);
            color: $text;
            transition: all linear .1s;
        }

        &.sh, &.hh, &.further {
            background: #607d8b;
        }
        &.party {
            background: $event-party;
        }
        &.festival {
            background: $event-festival;
        }
        &.concert {
            background: $event-concert;
        }
        &.other {
            background: $event-other;
        }

        &:hover {

            &::before {
                content: "\eb98";
            }

            &.sh, &.hh {
                background: darken(#607d8b, 10%);
            }
            &.party {
                background: darken($event-party, 10%);
            }
            &.festival {
                background: darken($event-festival, 5%);
            }
            &.concert {
                background: darken($event-concert, 7%);
            }
            &.other {
                background: darken($event-other, 10%);
            }
        }
    }
    
}

:root {
    --fc-list-event-hover-bg-color: transparent;
}


#calendar {
    margin-bottom: 5rem;
    color: $text;

    .fc-header-toolbar {
        margin-bottom: 10em;

        h2.fc-toolbar-title {
            @include font-header;
            font-size: 50px;
        }

        button {
            border-radius: 0;
            height: 45px;
            border: none;
            padding: .7em;
            font-weight: 600;

            &.fc-button-primary {
                background: $sidebar-back;
            }
            &.fc-button-primary:not(.fc-prev-button):not(.fc-next-button) {
                padding-left: 1.2em;
                padding-right: 1.2em;
            }
            
            &.fc-today-button {
                background: $link;
            }

            &:disabled {
                background: $disabled;
                opacity: 1;
                cursor: not-allowed;
            }

            &.fc-button-active {
                background: $disabled;
                cursor: not-allowed;
            }

            &:hover:not(:disabled):not(.fc-button-active) {
                background: $link;
            }

            &:focus {
                box-shadow: none;
            }
        }
    }

    table, table tr, table td, table th,
    .fc-list table.fc-list-table th,
    .fc-list {
        border: none;
    }

    tr.fc-list-event.hidden {
        display: none;
    }
    tr.fc-event-forced-url {
        cursor: default;
    }
    tr.fc-list-event:not(.fc-event-future),
    tr.fc-list-day.fc-day-past {
        opacity: .35;
    }

    // Green Header with Weekday
    .fc-list-day {
        z-index: 5;
        position: relative;

        .fc-list-day-cushion {
            background-color: $sidebar-header;
            border: none;
    
            a.fc-list-day-text,
            a.fc-list-day-side-text {
                color: darken($text, 20%);
                text-transform: uppercase;
                @include font-header;
                cursor: default;
            }
        }
    }

    // The Event
    .fc-list-event {
        margin: 1em 0;
        display: block;
        width: 100%;

        .fc-list-event-graphic {
            display: none;
        }

        &.concert .fc-list-event-title .fc-list-event-body {
            border-left: 20px solid $event-concert;
        }
        &.party .fc-list-event-title .fc-list-event-body {
            border-left: 20px solid $event-party;
        }
        &.festival .fc-list-event-title .fc-list-event-body {
            border-left: 20px solid $event-festival;
        }
        &.other .fc-list-event-title .fc-list-event-body {
            border-left: 20px solid $event-other;
        }
        &.holiday .fc-list-event-title .fc-list-event-body {
            border-left: 20px solid transparent;
            background: rgba($sidebar-back, .5);
            
            .event-wrapper {
                padding-bottom: 1.5em !important;
                padding-left: calc(1.5em - 20px) !important;

                h3 {
                    color: rgba($text, .7);

                    &::before {
                        content: "Feiertag: ";
                    }
                }
            }
        }

        &.past-event {
            // background: $disabled;
            opacity: .35;
        }

        &:hover, &:hover .fc-list-event-title {
            // background: green !important;

            .fc-list-event-title a {
                text-decoration: none;
            }
        }

        .fc-list-event-title {
            padding: 0;
            width: 100%;
            display: block;

            > div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
    
                .fc-list-event-time {
                    width: 150px;
                    color: rgba($text, .7);
                    font-weight: 600;
                    line-height: 20px;
                    font-size: 14px;
                    text-align: center;
                    flex: none;
                    z-index: 2;
                    position: relative;
                    padding: 1.5em 0 1.2em 0;
                    background: transparent;
        
                    span {
                        font-size: 2rem;
                    }

                    &.cancelled::before {
                        position: absolute;
                        @include font-header;
                        font-size: 2em;
                        color: darken(#b94747, 10%);
                        content: "Abgesagt";
                        transform: rotate(-60deg);
                        left: 5px;
                        border: 2px solid #b94747;
                        border-radius: 5px;
                        padding: .2em .4em .45em .4em;
                        background: rgba($text, .4);
                    }

                    &.soldout::before {
                        position: absolute;
                        @include font-header;
                        font-size: 2em;
                        color: darken(#b94747, 10%);
                        content: "Ausverkauft";
                        transform: rotate(-60deg);
                        left: -10px;
                        border: 2px solid #b94747;
                        border-radius: 5px;
                        padding: .2em .4em .45em .4em;
                        background: rgba($text, .4);
                    }
                }
    
                .fc-list-event-body {
                    flex-grow: 1;
                    position: relative;
                    background: rgba($sidebar-back, .7);
                    display: flex;
                    
                    .event-wrapper {
                        padding: 1.5em !important;

                        h3 {
                            color: $text;
                            font-size: 1.6em;

                            ~ div {
                                color: #b94747;
                                font-weight: 600;
                                padding: .3em 0 .7em 0;
                            }
                        }
                        h4 {
                            color: $link;
                            font-weight: 600;
                            padding: .3em 0 .7em 0;
                        }

                        p {
                            padding: 0 0 1.5em 0;
                        }
                    }

                    figure {
                        height: 100%;
                        width: auto;

                        figcaption {
                            position: absolute;
                            border-top: 1px solid rgba(black, .5);
                            height: auto;
                            min-height: 48px;
                            bottom: 0;
                            width: 100%;
                            padding: 5px;
                            font-size: 80%;
                            background: rgba(black, .4);
                            color: lighten($small, 15%);
                            display: flex;
                            justify-content: left;
                            align-items: center;

                            &::before {
                                content: "\ebe2";
                                font-family: 'remixicon' !important;
                                padding-right: 5px;
                            }
                        }
                    }

                    .event-footer {
                        background: rgba(black, .15);
                        width: 300px;
                        bottom: 0;
                        top: 0;

                        ul {
                            height: 100%;
                            padding: 1em;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            height: 0%;
                            
                            li {
                                padding: .3em;
                                color: lighten($small, 15%);
                                display: flex;
                                flex-basis: 100%;
                                align-self: center;
                                justify-self: center;

                                svg {
                                    fill: rgba($small, .6);
                                    flex-shrink: 0;
                                    width: 16px;
                                    @include translate(0px, -2px);
                                }
                                span {
                                    padding-left: .7em;
                                }

                                &.event-pricePreSale,
                                &.event-priceBoxOffice {
                                    flex-basis: 50%;
                                }

                                &.event-virtual {
                                    color: $link;
                                    
                                    svg {
                                        fill: $link;
                                    }
                                }

                                a {
                                    border-bottom: 1px dotted rgba($small, .5);

                                    &:hover {
                                        color: darken($link, 5%);
                                    }
                                }
                            }
                        }
                    }                  

                    .event-links{
                        background: rgba(black, .15);
                        width: 5%;
                        bottom: 0;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        a {
                            transition: all 5s ease-out;
                            margin-bottom: .7em;

                            svg {
                                fill: lighten($small, 15%);
                                background: rgba($text, .17);
                                padding: 5px;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                            }

                            &:hover svg {
                                background: $link;
                            }

                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }
                    }

                    &::before, &::after {
                        content: "";
                        position: absolute;
                        width: 5px;
                        background: transparent;
                        border-left: 3px dotted $sidebar-back;
                        display: block;
                        margin-left: calc(-1em + -80px);
                        z-index: 1;
                    }
                    &::before {
                        height: calc(50% + 1em - 33px);
                        margin-top: calc(-1em - -3px);
                    }
                    &::after {
                        // border-left: 3px dotted red;
                        height: calc(50% - 30px);
                        bottom: 0;
                    }                    

                    &.cancelled {
                        h3 {
                            color: #b94747;
                            text-decoration: line-through;
                        }
                    }                  

                    &.soldout {
                        h3 {
                            color: #b94747;
                        }
                    }
                }
            }
        }

    }

}
