$event-concert:  #009688;
$event-other:    #7fb4a6;
$event-festival: #005f5c;
$event-party:    #53c0a2;

#calendar-filter {
    position: absolute;
    margin-top: 8em;

    input {
        float: left;
        display: none;

        &:not(:checked) + label {
            background: rgba(#000000, .3);
            color: darken(#607d8b, 30%);

            &::before {
                content: "\eb98";
            }

            &:hover {
                color: #ffffff;

                &::before {
                    content: "\eb7a";
                }
            }
        }
    }
    label {
        float: right;
        background: black;
        padding: 0 20px 0 60px;
        margin: 0 1em 0 0;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        color: #ffffff;
        font-weight: 600;
        transition: all linear .1s;

        &::before {
            font-family: 'remixicon' !important;
            content: "\eb7a";
            position: absolute;
            font-size: 20px;
            font-weight: 900;
            margin-left: -60px;
            line-height: 40px;
            text-align: center;
            height: 40px;
            width: 40px;
            background: rgba(#000000, .2);
            color: #ffffff;
            transition: all linear .1s;
        }

        &.sh, &.hh {
            background: #607d8b;
        }
        &.party {
            background: $event-party;
        }
        &.festival {
            background: $event-festival;
        }
        &.concert {
            background: $event-concert;
        }
        &.other {
            background: $event-other;
        }

        &:hover {

            &::before {
                content: "\eb98";
            }

            &.sh, &.hh {
                background: darken(#607d8b, 10%);
            }
            &.party {
                background: darken($event-party, 10%);
            }
            &.festival {
                background: darken($event-festival, 5%);
            }
            &.concert {
                background: darken($event-concert, 7%);
            }
            &.other {
                background: darken($event-other, 10%);
            }
        }
    }
    
}


#calendar {
    margin-bottom: 5rem;
    color: #ffffff;

    .fc-header-toolbar {
        margin-bottom: 10em;

        h2.fc-toolbar-title {
            @include font-header;
            letter-spacing: 1px;
            font-size: 50px;
        }

        button {
            border-radius: 0;
            height: 45px;
            border: none;
            padding: .7em;
            font-weight: 600;

            &.fc-button-primary {
                background: $sidebar-back;
            }
            &.fc-button-primary:not(.fc-prev-button):not(.fc-next-button) {
                padding-left: 1.2em;
                padding-right: 1.2em;
            }
            
            &.fc-today-button {
                background: $link;
            }

            &:disabled {
                background: $disabled;
                opacity: 1;
                cursor: not-allowed;
            }

            &.fc-button-active {
                background: $disabled;
                cursor: not-allowed;
            }

            &:hover:not(:disabled):not(.fc-button-active) {
                background: $link;
            }

            &:focus {
                box-shadow: none;
            }
        }
    }

    table, table tr, table td {
        border: none;
    }

    tr.fc-scrollgrid-section-sticky > * {
        background: transparent !important;
    }

    table {
        // border-collapse: separate;
        // border-spacing: 10px 0;
    }

    table.fc-col-header th.fc-day {
        background: $sidebar-header;
        border: none;
        padding: .5em 1em;

        a {
            color: #ffffff;
        }


        &.fc-day-today {
            background: $link;
        }
    }

    table.fc-scrollgrid-sync-table td {
        &.fc-day {
            background: rgba($sidebar-back, 1);
    
            .fc-daygrid-day-frame {
                min-height: 400px;
            }
        }

        &.fc-day-past {
            background: rgba($sidebar-back, .5);
        }
    }



    .fc-event.hidden,
    .festival .fc-time, 
    .fc-event-time {
        display: none;
    }
        
    .fc-daygrid-event {
        white-space: normal;
        border-radius: 0;
        color: #ffffff;
        font-size: 15px;
        margin: 0 0 7px 0;
        padding: .7em 1em;
        border: none;

        .fc-event-title {
            font-weight: 400;
        }

        .fc-daygrid-event-dot {
            display: none;
        }

        &.concert {
            background: $event-concert;
        }
        &.party {
            background: $event-party;
        }
        &.festival {
            background: $event-festival;
        }
        &.other {
            background: $event-other;
        }

        &.past-event {
            background: $disabled;
            opacity: .7;
            color: darken($disabled, 30%);
        }
    }
    
}
