article.message {
    background: rgba($sidebar-back, .5);
    .message-header {
        padding: 10px 20px 0 20px;
        background: transparent;
        @include font-header;
        color: $text;

        a:not(.button):not(.tag):not(.dropdown-item) {
            text-decoration: none;
        }
    }
    .message-body {
        padding: 0 20px 20px 20px;
        color: darken($text, 20%);

        time {
            display: block;
            padding: 7px 0;
            color: darken($text, 10%);
            font-weight: 600;
        }
    }

    &.message-warning {
        border-left: 20px solid #b94747;
    }
    &.message-info {
        border-left: 20px solid #536c76;
    }
    &.message-shoutout {
        border-left: 20px solid #44904b;
    }
}
