@import "fullcalendar/core";
@import "fullcalendar/daygrid";
@import "fullcalendar/list";

.festival .fc-time {display: none;}

.past-event:not(.holiday) {background-color: grey !important; border: none;}

.fc-day-grid-event .fc-content {
  white-space: normal;
}