<header>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
	
		<!-- <a class="is-mobile navbar-item {{ if .Page.IsHome }}is-active{{ end }} navbar-logo " href="/" title="{{ .Name }} page">
			<img src="/images/clock.png" alt="Logo"><span>{{ .Site.Title }}</span>
		</a> -->
		
		<div class="navbar-item is-hidden-desktop">
			{{ range .Site.Params.social }}
				<a href="{{ .link }}" target="_blank" data-tooltip="{{ .name }}" class="icon" title="{{ .name }} link" rel="noopener" aria-label="follow on {{ .name }}——Opens in a new window">
					<svg class='remix'>
						<use xlink:href="/fonts/remixicon/remixicon.symbol.svg#{{ .icon }}"></use>
					</svg>
				</a>
			{{ end }}
		</div>
	
		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarHeader">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
		</div>
	
		<div class="navbar-menu" id="navbarHeader">
			
			<div class="navbar-start">
				{{- $currentPage := . -}}
				{{- range .Site.Menus.main -}}
		
					{{- if .HasChildren -}}
		
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}">
								<span>
									<svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#{{ .Params.icon }}"></use></svg>
									{{- .Name -}}
								</span>
							</a>
							<div class="navbar-dropdown">
								{{- range .Children -}}
									<a class="navbar-item " href="{{ .Page.Permalink }}">
										<svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#{{ .Params.icon }}"></use></svg>
										{{ .Name }}
									</a>
								{{- end -}}
							</div>
						</div>
		
					{{- else -}}
		
						<a class="navbar-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}" title="{{ .Name }} page">
							<span>
								<svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#{{ .Params.icon }}"></use></svg>
								{{- .Name -}}
							</span>
						</a>

					{{- end -}}
				
				{{- end -}}
	
			</div>
	
		<div class="navbar-end">
			<div class="navbar-item is-hidden-touch has-no-hover-border">
				{{ range .Site.Params.social }}
					<a href="{{ .link }}" target="_blank" data-tooltip="{{ .name }}" class="icon" title="{{ .name }} link" rel="noopener" aria-label="follow on {{ .name }}——Opens in a new window">
						<svg class='remix'>
							<use xlink:href="/fonts/remixicon/remixicon.symbol.svg#{{ .icon }}"></use>
						</svg>
					</a>
				{{ end }}
			</div>
		</div>
		
		</div>
	
	</nav>

</header>
