<header>
	<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	<ul>
		<li><a href="/parties/index.json" target="_blank">party json</a></li>
		<li><a href="/concerts/index.json" target="_blank">concert json</a></li>
		<li><a href="/festivals/index.json" target="_blank">festival json</a></li>
		<li><a href="/others/index.json" target="_blank">other json</a></li>
	</ul>
	{{ with .Site.Menus.main }}
		<nav>
			<ul>
				{{ range . }}
				<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</nav>
	{{ end }}
</header>
