<aside>
	<div class="brand-logo">
		<h1 class="title">Cities in Dust</h1>
		<a href="/" title="Startseite"><img src="img/logo/logo.png" alt="Logo" /></a>
	</div>

	<div class="section">
		<div class="section-header"><h2 class="subtitle">Erklärung</h2></div>
		<div class="section-body">
			<p>Events, Partys und Konzerte der schwarzen Gothic- und Rockmusikszene in Schleswig-Holstein, Hamburg und Umgebung.</p>
			<p>Alles in einem einzigen Kalender zusammengefasst.</p>
		</div>
	</div>

	<div class="section festival">
		<div class="section-header"><h2 class="subtitle">Festivalzähler</h2></div>
		<div class="section-body">
			<ul>
				<li>WGT</li>
				<li>Blackfield</li>
				<li>Amphi</li>
				<li>Wacken</li>
			</ul>
		</div>
	</div>

	<div class="section">
		<div class="section-header"><h2 class="subtitle">Wetter</h2></div>
		<div class="section-body">

		</div>
	</div>


	<div>
		<div>
			<h3>LATEST POSTS</h3>
		</div>
		<div>
			<ul>
				{{ range first 5 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
				<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
				{{ end }}
			</ul>
		</div>
	</div>

	{{ partial "footer" . }}
</aside>
