<aside>
	<div class="brand-logo">
		<a href="{{ .Site.BaseURL }}" title="Startseite">
			<h1 class="title">Cities<span>in Dust</span></h1>

			<div id='fog'></div>

			<div id="city"></div>

			<img src="/img/logo/logo.png" alt="Logo" />
		</a>
	</div>

	<div class="section">
		<div class="section-header"><h2 class="subtitle">Erklärung</h2></div>
		<div class="section-body">
			<p>Events, Partys und Konzerte der schwarzen Gothic- und Rockmusikszene in Schleswig-Holstein, Hamburg und Umgebung.</p>
			<p>Alles in einem einzigen Kalender zusammengefasst.</p>
		</div>
	</div>

	<div class="section festival">
		<div class="section-header"><h2 class="subtitle">Festivalzähler</h2></div>
		<div class="section-body">
			<ul>
				{{ range sort $.Site.Data.festivalcounter "start" "asc" }}
					{{ $start := .start }}
					{{ $ageDays := div (sub .start.Unix now.Unix) 86400 }}
					{{ $days := add $ageDays 1 }}
					<a href="{{ .url }}" title="{{ .name }} Webseite" target="_blank">
						<li style="{{ if le $days 0 }}opacity:.2;{{ end }}{{ if ge $days 30 }}opacity:.5;{{ end }}">
							<span class="variable">{{ .name }}</span>
							<span class="variable-number">

								{{ if le $days 0 }}
									---
								{{ else }}
									{{ $days }}
								{{ end }}
							</span>
						</li>
					</a>
				{{ end }}
			</ul>
		</div>
	</div>

	{{ partial "footer" . }}
</aside>
