<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<!-- Styles -->
	{{- $sassOptions := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true ) -}}
	{{- $sass := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.css" . -}}
	{{- $style := $sass | resources.ToCSS $sassOptions | resources.Fingerprint -}}
	<link rel="stylesheet" href="{{ $style.Permalink }}">

	<!-- Scripts -->
	{{- $jQuery := resources.Get "js/jquery-3.5.1.js" -}}
	{{- $moment := resources.Get "js/moment-2.26.0.js" -}}
	{{- $main := resources.Get "js/main.js" -}}

	<!-- Fullcalendar -->
	{{- $fullCore := resources.Get "js/fullcalendar-core.js" -}}
	{{- $fullDaygrid := resources.Get "js/fullcalendar-daygrid.js" -}}
	{{- $fullList := resources.Get "js/fullcalendar-list.js" -}}
	{{- $fullDe := resources.Get "js/fullcalendar-de.js" -}}
	{{- $fullGoogle := resources.Get "js/fullcalendar-google.js" -}}
	{{- $fullMoment := resources.Get "js/fullcalendar-moment.js" -}}
	<!-- {{- $fullMomentTz := resources.Get "js/fullcalendar-moment-tz.js" -}} -->
	
	{{- $script := slice $jQuery $moment $fullCore $fullDaygrid $fullList $fullDe $fullGoogle $fullMoment $main | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint -}}
	<script src="{{ $script.Permalink }}"></script>

	    <!-- Robots -->
	{{- with .Params.robotsdisallow -}}
		<meta name="robots" content="noindex, nofollow, noarchive">
	{{- else -}}
		<meta name="robots" content="index, follow, archive">
	{{- end -}}
	<meta name="referrer" content="always" />

	<!-- Favicon -->
    <link rel="icon" href="/favicon.png" type="image/png">

</head>
<body>
	<div class="columns is-gapless">
		<div class="column is-2">
			{{ partial "sidebar" . }}
		</div>

		<div class="column">
			<main>
				{{ partial "header" . }}
				{{ block "main" . }}{{ end }}
			</main>
		</div>
	</div>

</body>
</html>
