{{ define "main" }}

	{{  range (where (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) ".Params.kind" "in" (slice "warning") ) }}
		{{ .Render "summary" }}
	{{ end }}

	<div id="calendar-filter">
		<input id="hh" class="event_filter" name="event_filter_sel" type="checkbox" value="hh" data-type="state" checked="true" />
		<label for="hh" class="hh">Hamburg</label>

		<input id="sh" class="event_filter" name="event_filter_sel" type="checkbox" value="sh" data-type="state" checked="true" />
		<label for="sh" class="sh">Schleswig-Holstein</label>

		<input id="party" class="event_filter" name="event_filter_sel"  type="checkbox" value="party" data-type="kind" checked="true" />
		<label for="party" class="party">Party</label>

		<input id="concert" class="event_filter" name="event_filter_sel" type="checkbox" value="concert" data-type="kind" checked="true" />
		<label for="concert" class="concert">Concert</label>

		<input id="festival" class="event_filter" name="event_filter_sel" type="checkbox" value="festival" data-type="kind" checked="true" />
		<label for="festival" class="festival">Festival</label>

		<input id="other" class="event_filter" name="event_filter_sel" type="checkbox" value="other" data-type="kind" checked="true" />
		<label for="other" class="other">Sonstige</label>
	</div>

	<div id="calendar"></div>

	{{  range (where (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) ".Params.kind" "in" (slice "info" "shoutout") ) }}
		{{ .Render "summary" }}
	{{ end }}

{{ end }}
